@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-100;
    @apply dark:bg-slate-900 dark:text-slate-200;
  }
  select {
    @apply rounded-md p-2 mx-1;
    @apply bg-slate-300;
    @apply dark:bg-slate-900;
  }
  button {
    @apply rounded-md p-2;
    @apply bg-red-300;
    @apply dark:bg-red-900;
  }
  button:hover {
    @apply bg-red-400;
    @apply dark:bg-red-800;
  }
  a {
    @apply cursor-pointer;
    @apply text-blue-600;
    @apply dark:text-blue-400;
  }

  .icon-text {
    @apply items-start inline-flex flex-wrap justify-center leading-6;
  }
  .icon {
    @apply mx-0.5 inline-flex items-center;
  }
  .icon i {
    @apply !w-full;
  }

  #theme-container {
    @apply text-right mt-1 mr-1 text-sm;
  }
  #theme {
    @apply bg-zinc-400;
    @apply dark:bg-zinc-700;
  }
  #theme:hover {
    @apply bg-zinc-500;
    @apply dark:bg-zinc-600;
  }

  #messages {
    @apply w-full lg:w-7/12 mx-auto;
  }
  .notification {
    @apply rounded-md p-2;
  }
  .notification.bad {
    @apply bg-red-300;
    @apply dark:bg-red-900;
  }

  #filter-form {
    @apply rounded-md p-2 w-full lg:w-7/12 mx-auto mt-2 text-center;
    @apply bg-slate-200;
    @apply dark:bg-slate-700;
  }

  #loading {
    @apply text-center my-6; 
  }

  #tournaments {
    @apply mx-auto w-full lg:w-7/12 mt-3;
  }
  .tournament {
    @apply p-2 rounded-md text-center my-2;
    @apply bg-slate-200;
    @apply dark:bg-slate-800;
  }
  .tournament-url {
    @apply p-2 rounded-md;
    @apply bg-slate-300;
    @apply dark:bg-slate-700;
  }
  .tournament-info-container {
    @apply flex flex-wrap md:flex-nowrap mt-1 justify-center;
  }
  .tournament-info {
    @apply w-1/3 p-1 grow;
  }
  .tournament-info-box {
    @apply p-2 rounded-md h-full flex items-center justify-center text-xs lg:text-sm;
    @apply bg-slate-300;
    @apply dark:bg-slate-700;
  }
}